<section id="admin" class="main-section">
    <h1>Admin panel</h1>
    {{#if data}}
        {{#each data}}
        <div class="admin-container">
            <h1 class="admin-emoji">{{this.emoji}}</h1>
            <div class="admin-question-info-container">
                <h3 class="admin-category">{{this.category}}</h3>
                <h2 class="admin-text">{{this.question}}</h2>           
            <form action="/admin/{{this._id}}" method="POST">
                <div class="admin-buttons">
                    <button id="approve" name="approval" value="true">Accept</button>
                    <button id="reject" name="approval" value="false">Reject</button>
                </div>
            </form>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h2>There are no questions pending review!</h2>
    {{/if}}
</section>
