<section id="leaderboard-menu" class="main-section">
    {{#if category}}
    <h1>{{category}}</h1>
    {{else}}
    <h1>Leaderboard</h1>
    {{/if}}
    {{#if data}}
    <section class="bar-graph bar-graph-vertical bar-graph-two">
    <div class="bar-three bar-container">
        <div id="bar1" class="bar" score={{data.0.score}}></div>
        <p class="user">{{data.0.user}}</p>
    </div>
    <div class="bar-two bar-container">
        <div id="bar2" class="bar" score={{data.1.score}}></div>
        <p class="user">{{data.1.user}}</p>
    </div>
    <div class="bar-one bar-container">
        <div id="bar3" class="bar" score={{data.2.score}}></div>
        <p class="user">{{data.2.user}}</p>
    </div>
    </section>
    {{/if}}
    <div class="leaderboard-category-selector">
        <form action="/leaderboard/category" method="GET">
            <select name="category" id="leaderboard-option-selector">
                {{#if category}}
                <option>{{category}}</option>
                {{else}}
                <option>Pick a category!</option>
                {{/if}}
                <option value="Calvicie">Calvicie</option>
                <option value="Atractivo">Atractivo</option>
                <option value="Estilo">Estilo</option>
                <option value="Ironhacker">Ironhacker</option>
                <option value="Carisma">Carisma</option>
                <option value="Buena vibra">Buena vibra</option>
                <option value="Locura">Locura</option>
                <option value="Fitness">Fitness</option>
            </select>
            <br>
            <div id="login-container">
                <button type="submit" id="login-button">Check leaderboard</button>
            </div>
        </form>
    </div>
</section>
