<h1>Leaderboard</h1>

<div class="leaderboard-category-selector">
    <form action="/leaderboard/category" method="GET">
        <label>Pick a category!</label>
        <select name="category">
            <option value="Baldness">Baldness</option>
            <option value="Attractiveness">Attractiveness</option>
            <option value="Style">Style</option>
            <option value="Programming skills">Programming Skills</option>
        </select>
        <button type="submit">Check leaderboard</button>
    </form>
</div>

{{#if data}}
<div class="rank">
    <div class="leader">
        <h2>{{data.1.score}}</h2>
        <div class="rank-bar" id="second-ranked"></div>
        <h3>{{data.1.user}}</h3>
    </div>
    <div class="leader">
        <h2>{{data.0.score}}</h2>
        <div class="rank-bar" id="first-ranked"></div>
        <h3>{{data.0.user}}</h3>
    </div>
    <div class="leader">
        <h2>{{data.2.score}}</h2>
        <div class="rank-bar" id="third-ranked"></div>
        <h3>{{data.2.user}}</h3>        
    </div>
</div>
{{/if}}
