<section id="question-menu" class="main-section">
    <div id="question-container">
        {{#if randomQuestion.emoji}}
        <h1 class="question-emoji">{{randomQuestion.emoji}}</h1>
        {{/if}}
        <h2 class="question-menu-text">{{randomQuestion.question}}</h2>
        <div class="answer-buttons-container">
            <form action="/question/{{randomQuestion._id}}" method="POST">
            {{#each randomUsers}}
            <input type="hidden" name="possibleAnswers" value={{this._id}} />
            <button type="submit" name="userAnswered" class="answer-button bouncy" value={{this._id}}>{{this.username}}</input>
            {{/each}}
            </form>
        </div>
    </div>
</section>